-var homeTitleClass = 'font-dosis fs-40 color-default fw-600 text-upper line-letter-2 text-center'
-var homeBtn = 'btn btn-medium bg-green font-dosis fs-14 fw-600 color-white line-letter-3'
-var p = 'ola'
section(id='home' class='home')
  div.content
    p(class=homeTitleClass) Lorem ipsum dolor sit
    a(href='#sobre' class=homeBtn) Saiba Mais
  a(href='#sobre' class='go-about')
    i(class='fa fa-arrow-down')
