.btn
  flexbox(flex)
  align-items(center)
  justify-content(center)
  border none
  border-radius convertpxtorem(5)
  box-shadow 0px 2px 5px 0 rgba(0, 0, 0, 0.2)
  cursor pointer
  box-sizing border-box
  outline none

.btn-large
	width 173px
	height 49px
.btn-default
  width 108px
  height 38px
.btn-medium
  width 135px
  height 38px
.btn-animated
  &:hover
    animation jello-diagonal-2 0.8s both
