-var linksNav = 'font-dosis fs-14 fw-500 color-default line-letter-1'
nav#main-nav
  h1
    a(href='#home')
      img(src='https://ericluciano.com/tirex/logo-conectus.svg' alt='Conecuts' title='Conectus' width='146' height='46')
  ul
    li
      a(href='#sobre' class=linksNav) Sobre
    li
      a(href='#destaques' class=linksNav) Destaques
    li
      a(href='#funcionalidades' class=linksNav) Funcionalidades
    li
      a(href='#download' class=linksNav) Baixar o App
  div(class='open-menu')
    span
    span
    span
